<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zz.dao.DepartmentMapper">
    <select id="count" resultType="int" parameterType="zz.entity.Department">
        select count(*) from sys_department
        <where>
            <if test="example!=null">
                <if test="example.name!=null and example.name.trim().length()>0">
                    and name = #{example.name}
                </if>
                <if test="example.parent_id!=null">
                    and parent_id = #{example.parent_id}
                </if>
                <if test="example.parent_ids!=null and example.parent_ids.trim().length()>0">
                    and parent_ids like concat('%',#{example.parent_ids},'%')
                </if>
                <if test="example.description!=null and example.description.trim().length()>0">
                    and description like concat('%',#{example.description},'%')
                </if>
            </if>
        </where>
    </select>
    <select id="findByExample" resultType="zz.entity.Department">
        select * from sys_department
        <where>
            <if test="example!=null">
                <if test="example.name!=null and example.name.trim().length()>0">
                    and name = #{example.name}
                </if>
                <if test="example.parent_id!=null">
                    and parent_id = #{example.parent_id}
                </if>
                <if test="example.parent_ids!=null and example.parent_ids.trim().length()>0">
                    and parent_ids like concat(#{example.parent_ids},'%')
                </if>
                <if test="example.description!=null and example.description.trim().length()>0">
                    and description like concat('%',#{example.description},'%')
                </if>
            </if>
        </where>
        order by id
    </select>
    <select id="findByExampleWithPage" resultType="zz.entity.Department">
        select * from sys_department
        <where>
            <if test="example!=null">
                <if test="example.name!=null and example.name.trim().length()>0">
                    and name = #{example.name}
                </if>
                <if test="example.parent_id!=null">
                    and parent_id = #{example.parent_id}
                </if>
                <if test="example.parent_ids!=null and example.parent_ids.trim().length()>0">
                    and parent_ids like concat('%',#{example.parent_ids},'%')
                </if>
                <if test="example.description!=null and example.description.trim().length()>0">
                    and description like concat('%',#{example.description},'%')
                </if>
            </if>
        </where>
        order by id limit #{start},#{rows}
    </select>
    <select id="findByExampleWithBean" resultType="zz.entity.Department" parameterType="zz.entity.Department">
        select * from sys_department where id = #{id}
    </select>
    <update id="update" parameterType="zz.entity.User">
        update sys_department
        <set>
          <if test="name!=null">name=#{name},</if>
          <if test="parent_id!=null">parent_id=#{parent_id},</if>
          <if test="parent_ids!=null">parent_ids=#{parent_ids},</if>
          <if test="description!=null">description=#{description},</if>
        </set>
        where id = #{id}
    </update>
</mapper>