<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">按钮</div>
          <div class="layui-card-body">
                <div>
                  <a href="javascript:;" class="layui-btn">默认</a>
                  <a href="javascript:;" class="layui-btn layui-btn-primary">原始</a>
                  <a href="javascript:;" class="layui-btn layui-btn-normal">首选</a>
                  <a href="javascript:;" class="layui-btn layui-btn-warn">警告</a>
                  <a href="javascript:;" class="layui-btn layui-btn-danger">危险</a>
                  <a href="javascript:;" class="layui-btn layui-btn-disabled">禁用</a>
                </div>
                <div>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-add-circle"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-left"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-right"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-search"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-chat"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-release"></i></a>
                  <a href="javascript:;" class="layui-btn"><i class="layui-icon layui-icon-list"></i></a>
                </div>
                <div>
                  <div class="layui-btn-group">
                    <button class="layui-btn">增加</button>
                    <button class="layui-btn">编辑</button>
                    <button class="layui-btn">删除</button>
                  </div>
                        
                  <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-sm">
                      <i class="layui-icon">&#xe654;</i>
                    </button>
                    <button class="layui-btn layui-btn-sm">
                      <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-sm">
                      <i class="layui-icon">&#xe640;</i>
                    </button>
                    <button class="layui-btn layui-btn-sm">
                      <i class="layui-icon">&#xe602;</i>
                    </button>
                  </div>
                   
                  <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-sm">
                      <i class="layui-icon">&#xe654;</i>
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">
                      <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm">
                      <i class="layui-icon">&#xe640;</i>
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<style type="text/css">
  .layui-card-body > div{
    margin:15px 0;
  }
</style>