<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">
        <div class="layui-card-header">资源管理</div>
        <div class="layui-card-body">
          <div id="data-head-bar">
            <a href="#/resources/add" class="layui-btn layui-btn-xs">新增</a>
            <a href="javascript:;" id="search-btn" class="layui-btn layui-btn-xs layui-btn-primary"><i class="layui-icon layui-icon-search"></i></a>
          </div>
          <table id="data_tab" lay-filter="data_tab"></table>
          <script type="text/html" id="data_bar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    layui.use(['table','sidebar','layer','route'], function(){
        var table = layui.table;
        var sidebar = layui.sidebar;
        var $ = layui.jquery;
        var route = layui.route;
        //第一个实例
        var dataTable = table.render({
            elem: '#data_tab'
            ,url: '/resources' //数据接口
            ,page: true //开启分页
            ,response:{statusCode:200} // 指定成功的状态码
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'menu_name', title: '名称', width:120, sort: true, fixed: 'left'}
                ,{field: 'url', title: 'url', width:300, sort: true, fixed: 'left'}
                ,{field: 'permissions', title: '权限', width:300, sort:true}
                ,{field: 'menu_typeString', title: '类别', width:100, sort: true, fixed: 'left'}
                ,{field: 'menu_class', title: '样式', width:100, sort: true}
                ,{field: 'parent_name', title: '上级', width:100, sort: true}
                ,{field: 'parent_ids', title: '层次', width:200, sort: true}
                ,{field: 'operation', title:'操作', toolbar:'#data_bar',align:'center'}
            ]]
        });
        table.on('tool(data_tab)', function(obj){ //注：tool是工具条事件名，data是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'detail') { //查看
                //do somehing
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    //向服务端发送删除指令
                    $.ajax({
                        url:'/resources/'+data.id,
                        method:'DELETE',
                        dataType:'json',
                        success:function(res){
                          if(res.code == 200){
                              obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                              layer.close(index);
                          }else{
                              layer.msg("删除失败!",res.data);
                          }
                        }
                    });
                });
            } else if (layEvent === 'edit') { //编辑
               route.render('#/resources/edit?id=' + data.id);
            }
        });
        $("#search-btn").click(function(){
            $.get(route.getRoute('#/resources/find').component,function(data){
              layui.layer.open({
                  title:"查找部门",
                  type:1,
                  area:'450px',
                  content:data,
                  btn:['搜索'],
                  skin:'layui-layer-lan',
                  yes:function(index,layero){
                      // 重载表格
                      dataTable.reload({
                        where:{
                            id:$("[name='id']").val(),
                            menu_name:$("[name='menu_name']").val(),
                            parent_id:$("[name='parent_id']").val(),
                            parent_ids:$("[name='parent_ids']").val(),
                            menu_type:$("[name='menu_type']").val(),
                            menu_class:$("[name='menu_class']").val(),
                            url:$("[name='url']").val()
                        }
                      });
                      // 关闭查询框
                      layui.layer.close(index);
                  }
              });
          });
        });
    });
</script>